.read_stories_sect {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: auto;
  /* background: #092424; */
  background: #548341;
}

.read_stories_main_div {
  margin: 0 auto;
}

.read_stories_intro {
  color: #fff;
  text-align: center;
  max-width: 60vw;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0.06rem;
}

.read_stories_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  gap: 50px;
}

.read_stories_btn {
  padding: 20px;
  font-size: 1.1rem;
  color: #000;
  min-width: 200px;
  letter-spacing: 0.06rem;
  border: none;
  cursor: pointer;
}

.read_stories_btn:hover {
  background: #092424;
  color: #548341;
  font-style: italic;
}

.main_preloader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* EXPLORE PAGE */

.explore_sect {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: auto;
  background: #092424;
}

.explore_intro {
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.1rem;
  width: max-content;
  font-size: 2rem;
}

.all_stories {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px;
  max-width: 80vw;
  margin: 50px auto;
}

.individual_story {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.individual_story_page {
  overflow-y: auto;
  max-height: 70vh;
}

.story_tick_icon {
  color: #fff;
  font-size: 1rem;
}

.the_end {
  text-align: center;
  font-weight: 900;
  font-family: cursive;
  letter-spacing: 0.09rem;
  margin: 10px;
  color: #548341;
}

.delete_story_div {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
}

.delete_story_btn {
  height: 25px;
  padding: 5px;
  border-radius: 10px;
  background: #092424;
  color: #fff;
  border: none;
  letter-spacing: 0.07rem;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.delete_story_btn:hover {
  background: red;
  width: 110px;
  color: #092424;
  font-weight: bold;
  border: 2px #092424 solid;
}

.title_date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.title_author {
  font-weight: bold;
  color: #548341;
  text-decoration: underline;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.individual_story_link {
  cursor: pointer;
}

.story_edit_icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.story_edit_icon:hover {
  color: #548341;
  font-size: 1.8rem;
}

.story_title {
  text-transform: uppercase;
  letter-spacing: 0.07rem;
}

.story_body {
  max-width: 100%;
  line-height: 1.5rem;
}

.story_author {
  font-style: italic;
}

.by {
  font-size: 14px;
}

.story_date {
  font-size: 12px;
  text-decoration: underline;
  font-style: italic;
}

.story_genres {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.story_genre {
  font-size: 14px;
}

.loading,
.error {
  color: #fff;
  text-align: center;
  margin: 100px auto 0;
}

.see_genres {
  display: none;
}

/* FILTER BY GENRE */

.selected_genre_div_btns {
  display: flex;
  min-height: 30vh;
  max-width: 100vw;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  flex-wrap: wrap;
}

.selected_genre_btn {
  padding: 10px;
  border-radius: 10px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  letter-spacing: 0.07rem;
  cursor: pointer;
}

.load_stories {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.by_genre_response {
  color: #548341;
  letter-spacing: 0.07rem;
  max-width: 60vw;
  margin: 0 auto;
  line-height: 1.5rem;
  font-weight: 900;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.write_link {
  color: #fff;
  text-decoration: underline;
}

.write_link:hover {
  font-style: italic;
}

/* FILTER BY TITLE */

.title_filter_div {
  padding: 20px;
}

.filter_title {
  color: #fff;
  font-weight: bold;
  max-width: 60vw;
  margin: 20px auto;
  text-align: center;
  letter-spacing: 0.06rem;
}

.title_filter_form_div {
  min-height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
}

.title_filter_form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title_filter_input {
  width: 100%;
}

.title_filter_input .search_input {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  border-bottom: #548341 6px solid;
}

.title_filter_submit .search_btn {
  padding: 20px;
  border-radius: 50px;
  font-size: 15px;
  background: #548341;
  color: #fff;
  border: 2px transparent solid;
  font-weight: bold;
  letter-spacing: 0.07rem;
  cursor: pointer;
}

.title_filter_submit .search_btn:hover {
  background: #fff;
  color: #548341;
  border: 2px #548341 solid;
}

.title {
  color: #fff;
  text-decoration: underline;
  font-style: italic;
}

/* COMMENTS */

.comments_div {
  margin-bottom: 50px;
}
.comments_header {
  color: #fff;
  text-align: center;
  width: 150px;
  margin: 50px auto;
  font-family: cursive;
  border-top: 2px #548341 solid;
}

.comments_list {
  margin: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
}

.comment {
  position: relative;
  padding: 5px 20px;
  background: #fff;
  width: 80vw;
}

.comment_author_date {
  display: flex;
  justify-content: space-between;
}

.comment_date {
  font-size: 11px;
}

.reply_ampm_div {
  display: flex;
  justify-content: space-between;
}

.am_pm {
  font-weight: bold;
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-right: 2px;
  font-style: italic;
}

.ellipsis_span {
  display: flex;
  align-items: center;
}

.ellipsis {
  position: absolute;
  font-size: 1.4rem;
  color: #548341;
  cursor: pointer;
  right: 2px;
}

/* REPLIES */

.reply {
  margin-bottom: 10px;
}

/* .replies_title {
  display: none;
  color: #548341;
  margin: 10px 0;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  width: max-content;
} */

.replies_list {
  list-style-type: none;
  margin-left: 5%;
}

.replies_list_toggle {
  display: none;
}

.reply_author_date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reply_author,
.reply_body {
  font-size: 14px;
}

.comment_author,
.reply_author {
  font-weight: bold;
}

.more_reply_btn {
  display: none;
}

.no_comments {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
}

.no_replies {
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  border-top: 1px #ccc solid;
}

.comment_reply_btn {
  border: none;
  color: #548341;
  background: none;
  text-decoration: underline;
  font-size: 11.5px;
  cursor: pointer;
}

.comment_reply_btn:hover {
  font-style: italic;
  font-weight: 600;
}

.add_comment_div {
  margin: 0 auto;
  width: 80vw;
  /* border: 2px red solid; */
}

.add_comment_textarea {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  padding: 5px;
  border: none;
  border-bottom: 1px #548341 solid;
  outline: none;
  color: #fff;
}

.add_comment_btn {
  padding: 3px;
  border-radius: 5px;
}

.comment_edit_delete_btn {
  position: absolute;
  right: 21px;
  background: #fff;
  top: 2px;
  flex-direction: column;
  width: 85px;
  gap: 10px;
  display: none;
  padding: 2px;
}

.comment_edit_delete_btn button {
  background: #fff;
  border: 1px #ccc solid;
  border-radius: 5px;
  cursor: pointer;
  color: #548341;
  font-size: 11px;
  padding: 5px;
}

.comment_edit_delete_btn button:hover {
  border-radius: 20px;
  color: #fff;
  letter-spacing: 0.07rem;
}

.edit_comment_btn:hover {
  background: #548341;
}
.delete_comment_btn:hover {
  background: red;
}

.edit_delete_btn_toggle {
  display: flex;
}

.edit_comment_textarea {
  width: 80%;
  background: none;
  display: flex;
  align-items: center;
  padding: 5px;
  border: none;
  border-bottom: 1px #548341 solid;
  outline: none;
  margin: 20px 0 10px;
}

.submit-cancel-btns-div {
  display: flex;
  gap: 5px;
  margin-top: 3px;
}

.go_btn,
.reply_btn {
  background: #092424;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 11px;
  padding: 5px;
  margin-bottom: 5px;
}

.cancel_btn,
.cancel_reply_btn {
  background: gray;
  border: #ccc solid 1px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  padding: 5px;
  margin-bottom: 5px;
}

.cancel_btn:hover,
.cancel_reply_btn:hover {
  border-radius: 20px;
}

.go_btn:hover,
.reply_btn:hover {
  background: #548341;
  border-radius: 20px;
}

.like_reply_btn {
  display: flex;
  gap: 5px;
}

.like_reply_btn button {
  padding: 2px 5px;
  color: #548341;
  border-radius: 5px;
  border: 1px #548341 solid;
  margin: 5px 0;
  cursor: pointer;
}

.reply_input_div {
  display: none;
}

.reply_input_div textarea {
  width: 70%;
  background: none;
  display: flex;
  align-items: center;
  margin: 5px 7%;
  border: none;
  border-bottom: 1px #548341 solid;
  outline: none;
}

.reply_cancel_btn {
  display: flex;
  gap: 5px;
  margin: 5px 10%;
}

.reply_cancel_btn button {
  cursor: pointer;
}

.delete_reply_icon {
  font-size: 10px;
  cursor: pointer;
}

.delete_reply_icon:hover {
  background: red;
  color: #fff;
  border-radius: 20px;
}

.edited {
  font-size: 11px;
  letter-spacing: 0.03rem;
  font-weight: 500;
  font-style: italic;
  opacity: 0.7;
}

.body_edit_container {
  display: flex;
  align-items: center;
  gap: 3px;
}

@media screen and (max-width: 1999px) {
  .body_edit_container {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .title_date {
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }

  .story_genres {
    flex-wrap: wrap;
  }

  .title_filter_form {
    flex-direction: column;
  }

  .read_stories_main_div {
    width: 90vw;
  }

  .read_stories_intro {
    max-width: 90%;
  }

  .individual_all_stories {
    max-width: 90vw;
  }

  .individual_story_page {
    max-height: 100vh;
  }

  .comment {
    width: 90vw;
  }

  .edit_comment_textarea {
    width: 100%;
  }

  .reply_input_div textarea {
    width: 90%;
  }
}
