.stories_sect {
  min-height: 100vh;
  background: url("../../../../Assets/Images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: auto;
}

.stories_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  min-height: 60vh;
}

.stories_title {
  padding: 10px;
  margin: 50px auto;
}

.stories_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.stories_btns button {
  padding: 40px;
  border-radius: 10px;
  border: none;
  background: #548341;
}

.stories_btn {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background: #000;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.stories_btn:hover {
  color: #000;
  background: #fff;
  font-style: italic;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .stories_div {
    min-width: 90vw;
  }

  .stories_title {
    min-width: 100%;
  }
}
