.main_navbar {
  background: #092424;
}

.main_navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 10px 15px;
  list-style-type: none;
  font-size: 14px;
}

.main_link {
  text-decoration: none;
  color: #fff;
}

.main_link:hover {
  text-decoration: overline;
  font-style: italic;
  text-decoration-color: #548341;
}

.activated {
  background: #548341;
  padding: 5px;
  font-style: normal;
  border-radius: 5px;
}

.logout_icon {
  color: red;
  font-size: 1.5rem;
}

.logout_navlink {
  text-decoration: none;
}

.logout_span {
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 0.7rem;
  font-style: italic;
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

.logout_navlink:hover .logout_span {
  visibility: visible;
  opacity: 1;
}
