.profile_sect {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: auto;
  background: #092424;
  position: relative;
}

.cover_div {
  background: url("../../../Assets/Images/profile/5.jpg");
  height: 30vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user_card {
  background: #fff;
  min-height: 100px;
  width: 70vw;
  margin: 0 50px;
  display: flex;
  padding: 0 20px;
  gap: 10px;
  border-radius: 20px;
  flex-direction: column;
  position: relative;
}

.user_card_div {
  display: flex;
  gap: 20px;
}

.edit_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.edit_icon:hover {
  color: #548341;
  font-size: 1.5rem;
}
.prof_pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: -80px auto 0;
}

.user_img_default {
  display: flex;
  justify-content: center;
  margin: -80px auto 0;
  padding: 30px;
  border-radius: 50%;
}

.preloader_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 100%;
}

.bio {
  font-size: 14px;
  padding: 7px;
  margin: 20px 10px 0;
  width: 100%;
}

.profile_username {
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
  text-decoration: underline;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: cursive;
  justify-content: flex-end;
  align-self: flex-end;
  margin-bottom: 10px;
  letter-spacing: 0.05rem;
  /* color: #548341; */
}

.profile_content_main_div {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
}

.profile_interests_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.profile_interests_list p {
  padding: 10px;
  background: #548341;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  width: max-content;
  margin: 5px;
}

.links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  outline: none;
  cursor: pointer;
  background: #fff;
  width: 160px;
  height: 50px;
  letter-spacing: 0.05rem;
  border: 2px #548341 solid;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10px;
}

.tabs:hover {
  text-decoration: underline;
  font-style: italic;
  letter-spacing: 0.07rem;
}

.active_tabs {
  background: #548341;
  border: 2px #fff solid;
}

.active_tabs::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
}

.content {
  position: absolute;
  clip-path: circle(0% at 50% 50%);
}

.active_content {
  padding: 20px;
  width: 100%;
  display: none;
  color: #fff;
  display: block;
  clip-path: circle(100% at 50% 50%);
  transition: 2s;
  transition-property: clip-path;
}

.profile_stories_div {
  width: 80%;
}

@media screen and (max-width: 700px) {
  .user_card {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    gap: 10px;
  }

  .user_card_div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .bio {
    text-align: center;
    margin: 0 10px;
  }

  .profile_content_main_div {
    margin: 20px auto;
  }

  .profile_content_main_div {
    min-width: 90vw;
  }

  .links_container {
    gap: 10px;
  }

  .tabs {
    max-width: 100px;
  }
}
